.top-bar {
  align-items: center;
  color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  background-color: rgb(140, 150, 124);
  padding: 1vw 15vw;
  position: sticky;
  top: 0;
}

.top-bar-logo {
  width: 2em;
}